---
import MiLayout from "../../layouts/MiLayout.astro"


interface Cat {
    id: string
    url: string
}

const url = "https://api.thecatapi.com/v1/images/search?api_key="

const apikey = "live_AEGOOQEwID2TGu8s8J9CNgu1Mvyv8vaBrhRrhtLaCbFJF7HJgP9bNuwR8h18tYFQ/"

let randomId = Math.floor(Math.random() * 100) + 1
const response = await fetch(url+apikey+randomId)

---

<MiLayout>
    <h1>Gatete Random</h1>
    <p></p>
</MiLayout>