---
import Layout from "../layouts/Layout.astro";
import MiLayout from "../layouts/MiLayout.astro";
---
<MiLayout>
<Layout>
  <h1 class="bg-blue-200 text-blue-900 text-3xl rounded-3xl hover:bg-blue-400">
    Saludos desde Tailwind
  </h1>
  <p>Hola</p>
</Layout>
</MiLayout>
<style>
  h1 {
    color: black;
    font-size: xx-large;
  }
</style>
