---
import MiLayout from "../layouts/MiLayout.astro";
---

<MiLayout title = "Profes 2">
  <h1>Listado de teachers favoritos usando CSR</h1>
    <ul id="profes">

    </ul>
</MiLayout>

<script>
    const teachers = ['Angel','Pepe','Antonio','Marta','Isabel']
    const $ul = document.getElementById('profes')
    teachers.forEach(teacher => {
        const $li = document.createElement('li')
        $li.textContent = teacher
        $ul?.append($li)
    })

</script>
