---
// pagina generada con static site generation
import MiLayout from "../layouts/MiLayout.astro";

const calificativo = "favoritos!";
const teachers = ["Angel", "Pepe", "Antonio", "Marta"];
---

<MiLayout title = "Profes 1">
  <h1>Listado de profes {calificativo}</h1>
  <ul>
    {teachers.map((teacher) => <li>{teacher}</li>)}
  </ul>
</MiLayout>
