---
import Technology from "../components/Technology.astro";
import MiLayout from "../layouts/MiLayout.astro";
import technologies from "../data/technologies.json"
import Button from "../components/Button.astro";

---

<MiLayout title="lista de tecnologias">
    <h1>Listado de tecnologias que domino</h1>
    <ul>
        {technologies.map(technology => 
        <Technology title = {technology.title} description = {technology.description}/>)}
    </ul>
    <Button href="/">Volver</Button>
</MiLayout>

